body {
  text-align: center;
}
#logo {
  height: 100px;
  margin-left: -20px;
}

/* Sections  */
nav.navbar {
  padding-bottom: 20px;
  margin-bottom: 0;
  overflow: hidden;
  background-color: #f2f4fb;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.navbar-header{
  width: 250px;
  height: auto;
}
p.navbar-brand{
  font-size: 2.5rem;
  margin-left: 0;
}
.navbar ul {
  margin: 0;
  padding-top: 70px;
}

.navbar li {
  font-size: 1.8rem;
}


.imageBannerContainer {
  position: relative;
  text-align: center;
  color: white;
}

.sectionContainer {
  padding: 2.5% 10%;
}

.whiteSection {
  background-color: #f2f4fb;
  color: #3c415e;
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
}

.colouredSection {
  background-color: #1cb3c8;
  /* color: #1b335f; */
  color: white;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
}

.darkSection {
  background-color: #1cb3c8;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.iconBar {
  padding-top: 20px;
  padding-bottom: 20px;
}

.social-icon {
  color: #1b335f;
}

.social-icon:hover {
  color: white;
}

.footerBar {
  padding: 30px 0 30px 0;
}

#footLink {
  text-decoration: none;
  font-weight: 800;
  color: white;
}

#footLink:hover {
  text-decoration: none;
  color: #3c415e;
}

/* TITLES AND PARAS */
#homeTitle {
  max-width: 750px;
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
  font-weight: 800;
  line-height: 1;
  padding: 5px;
  background: rgb(0, 0, 0);
  /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}

h2#homeTitleSmall {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 2rem;
  font-style: italic;
  line-height: 1;
  background: rgb(0, 0, 0);
  /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}

div .sectionTitle {
  font-weight: 800;
}

div .smallTitle {
  padding: 20px 90px 20px 90px;
  font-weight: 800;
}

div .para {
  font-size: 1.6rem;
  padding: 20px 100px 20px 100px;
}

div .aboutMorePara {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  font-style: italic;
  margin: 10px 100px 0px;
  padding: 20px 100px 30px 100px;
}

.iconTitle {
  font-weight: 800;
  margin-bottom: 50px;
  font-family: "Montserrat", sans-serif;
  color: #3c415e;
}

.icon {
  color: #1cb3c8;
  margin-bottom: 1rem;
  -webkit-transition-duration: 0.2s;
  /* Safari */
  transition-duration: 0.2s;
}

.icon:hover {
  color: #f57665;
}

.extra-padding {
  padding-bottom: 30px;
}

#banner {
  width: 100%;
  padding-top: 0;
  margin-top: 0;
}

.bold {
  font-weight: 800;
}

/* HOME PAGE */
.button {
  background-color: #f57665;
  margin: 20px 0;
  -webkit-transition-duration: 0.2s;
  /* Safari */
  transition-duration: 0.2s;
}

#bookButton {
  text-decoration: none;
  color: #3c415e;
}

#bookButton:hover {
  text-decoration: none;
  color: #f2f4fb;

}

/* Testimonials Section  */
.testimonial-text {
  text-align: left;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.5;
  padding: 15% 15% 0;
  margin-top: 0;
  margin-bottom: 0;
}
.testimonial-author {
  font-style: italic;
  text-align: right;
  margin-top: 10px;
  padding-bottom: 15%;
  padding-right: 15%;
}
/* More Section  */
.more-box {
  padding: 4.5%;
}

/* BOOK A TRIP PAGE */
.calendar-body {
  position: relative;
  left: 150px;
  width: 800px;
  height: 500px;
  background-color: white;
  margin-bottom: 20px;
}

.calendar-left {
  background-color: #1cb3c8;
  float: left;
  margin: 0;
  padding: 0px 20px;
}

.calendar-right {
  margin-left: 150px;
  padding: 0;
}

#big-date {
  font-size: 10rem;
  color: white;
  font-weight: 800;
}

#big-day {
  font-size: 3.3rem;
  margin-bottom: 30px;
  color: white;
  font-weight: 800;
}

.calendar-select {
  margin-bottom: 10px;
  padding: 0;
}

ul {
  list-style-type: none;
}

.month {
  padding: 30px 25px;
  width: 100%;
  background-color: #ddd;
  text-align: center;
}

.month li {
  font-weight: 800;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0 0 0;
  background: #eee;
}

.weekdays li {
  display: inline-block;
  width: 11%;
  color: #666;
  font-weight: 800;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 24px 0 0 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 11%;
  text-align: center;
  margin-bottom: 25px;
  padding-top: 10px;
  font-size: 12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important;
  font-weight: 800;
}


/* CHECKOUT PAGE */
.pay-box {
  text-align: center;
  background-color: #3c415e;
  color: white;
  font-weight: 800;
  width: 900px;
  height: 600px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -450px;
  padding: 20px 40px 0;
}

.card-details {
  margin: 40px 0 10px 80px;
}

.card-details input[type=text] {
  background: transparent;
  border: none;
  text-align: center;
  margin-top: 10px;
}

.col-25 {
  float: left;
  width: 25%;
}

.col-75 {
  float: left;
  width: 75%;
}

.pay-icon {
  color: #1cb3c8;
  text-align: center;
  margin-top: 50px;
}

.pay-icon:hover {
  color: white;
}

label {
  margin: 5px 0 0 0;
  padding: 5px 0 0 0;
}

.pinput input {
  margin: 20px 10px;
}

.contact-details {
  width: 900px;
  height: 600px;
  position: relative;
  left: 90px;
  background-color: #3c415e;
  color: white;
  padding: 30px 50px;
  margin-top: 40px;
}

.contact-details input[type=text] {
  color: #3c415e;
  width: 400px;
  text-align: center;
}

/* CONFIRMATION PAGE */
.confirm-check {
  margin: 50px 0;
  color: #3c415e;
}

/* ABOUT US PAGE */

#TA_certificateOfExcellence826 {
  width: 160px;
  height: 160px;
  margin: 0 auto;
  padding-top: 20px;

}

#TA_selfserveprop603{
  margin-bottom: 30px;
  margin-left: 20px;
}
#daveImg {
  width: 400px;
}

#skipperImage {
  padding: 50px 50px 50px 20px;
}

h2.testimonialAuthor {

  padding-left: 50px;
  width: 430px;
}

#skipperTestimonials {
  padding: 50px 20px 50px 80px;
}

p#skipperTestimonials {
  padding: 10px 0px;
}

div.col-lg-3 {
  padding-top: 30px;
}

/* OTHER SECTION */
li {
  padding: 0px 30px 10px 10px;
}

/* BLOG SECTION */
.blog {
  font-family: 'Playfair Display', serif;
  /* background-color: #1cb3c8; */
  /* color: white; */
}

.blog-post {
  padding: 20px 70px;
}

.blog-title {
  font-size: 5rem;
}

.blog-sub {
  font-size: 3rem;
}

.card-body {
  background-color: #1cb3c8;
  color: white;
  padding: 20px 20px;
}

.card-title {
  font-size: 2rem;
}

.card-subtitle {
  color: #1b335f;
}

.row-card {
  padding: 20px 50px;
}

.card-link {
  color: #1b335f;
}

.card-link:hover {
  color: white;
}

/* ASSOCIATION SECTION */
#associationText li {
  padding-bottom: 10px;
  text-align: left;
}

/* BOATS SECTION */
#rivalInfoPara {
  padding: 20px 50px 20px 0;
  font-size: 1.7rem;
}

#rivalImg {
  padding: 15px 60px 10px 30px;
}

/* CONTACT PAGE */
.contact-form {

  padding: 30px 80px 30px 80px;
}


.contact-form input[type=text]{
  color: #3c415e;
  width: 500px;
  padding-left: 5px;
  padding-right: 5px;
  color: #3c415e;
  text-align: center;
}

.contact-form textarea {
  width: 500px;
  color: #3c415e;
  text-align: center;
}

#submit {
  text-decoration: none;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: #f57665;
  font-weight: 800;
}

#submit a {
  color: #3c415e;
}

#submit a:hover {
  text-decoration: none;
  color: white;
}

#address {
  padding-top: 90px;
  font-weight: 800;
}

#map {
  width: 100%;
  height: 300px;
  background-color: grey;
}

/* TESTIMONIALS PAGE */
.testimonialPara {
  font-size: 1.4rem;
  padding: 0 20px 0px 20px;
}

.testimonialAuthor {
  font-size: 1.2rem;
  font-weight: 800;
  font-style: italic;
  padding-bottom: 30px;
}

.column {
  float: left;
  width: 25%;
}

div.column {
  padding-bottom: 50px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 992px) {

}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  /* .nav li {
    width: 100%;
    text-align: center;
  } */
}

/* Positions */
.centered {
  position: absolute;
  max-width: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left {
  text-align: left;
}
